<div class="row">
  <form [formGroup]="addNewStaffForm" (ngSubmit)="onSubmit(addNewStaffForm.value)">
    <nb-card>
      <nb-card-header>Add a new Member</nb-card-header>
      <nb-card-body>
        <!-- <input type="text" nbInput fullWidth placeholder="Project"> -->
        <div class="full-name-inputs">
          <div>
            <input type="text" nbInput fullWidth placeholder="First Name" formControlName="first_name" />
            <nb-alert *ngIf="first_name.touched && first_name.invalid" status="danger">
              First name is required
            </nb-alert>
          </div>
          <div>
            <input type="text" nbInput fullWidth placeholder="Last Name" formControlName="last_name" />
            <nb-alert *ngIf="last_name.touched && last_name.invalid" status="danger">
              Last name is required
            </nb-alert>
          </div>
        </div>
        <div>
          <input type="text" nbInput fullWidth placeholder="Email" formControlName="email" />

          <nb-alert *ngIf="email.touched && email.invalid" status="danger">
            E mail is required
          </nb-alert>
        </div>
        <div>
          <input type="password" nbInput fullWidth placeholder="Password" formControlName="password" />
          <nb-alert *ngIf="password.touched && password.invalid" status="danger">
            Password is required
          </nb-alert>
        </div>
        <div>
          <input type="number" nbInput fullWidth placeholder="Contact Number" formControlName="contact_num" />
          <nb-alert *ngIf="contact_num.touched && contact_num.invalid" status="danger">
            Contact number is required
          </nb-alert>
        </div>
        <div class="full-name-inputs">
          <nb-select placeholder="Member Category" formControlName="type">
            <nb-option *ngFor="let x of types | async" [value]="x.type">{{
              x.type
            }}</nb-option>
          </nb-select>
          <nb-alert *ngIf="type.touched && type.invalid" status="danger">
            Type is required
          </nb-alert>
        </div>

        <button nbButton status="primary" hero type="submit" [disabled]="!addNewStaffForm.valid">
          Add Member
        </button>
      </nb-card-body>
    </nb-card>
    <nb-card> </nb-card>
  </form>
</div>